<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- Boxicons -->
  <link href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css" rel="stylesheet" />

  <!-- Fontawesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
  <!-- Custom StyleSheet -->
  <link rel="stylesheet" href="static/home.css" />
  <title>HOME PAGE</title>
</head>

<body>
  
  <!-- HEADER -->

 <header class="header">
  <nav>
    <ul>
        <li><a href="{{ url_for ('admin')}}">ADMIN LOGIN</a></li>
        <li><a href="{{ url_for ('staff')}}">STAFF LOGIN</a></li>
   <head>
      <meta charset="utf-8">
      <title>Popup Login Form Design</title>
      <link rel="stylesheet" href="/static/menu.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
   </head>

            </form>
         </div>
      </div>
   </body>
</html>